html {
  line-height: 1.5;
  background-color: #eee9de;
  box-sizing: border-box;
  }

*, *::before, *::after {
  box-sizing: inherit;
  }

h2 {
  font-family: Lato, serif;
  font-weight: normal;
}

body {
  margin: 1.5rem;
  font-style: normal;
  font-family: sans-serif;
  color: #333;
}

header {

}

.nav {

}

.nav li {
  font-family: sans-serif;
  display: inline-block;
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 75%;
  display: inline-block;
}

a {
  text-decoration: none;
  color: #666;
  display: inline;
  padding: .4em .75em .5em;
  color: #666;
  background-color: #eee9de;
  border-color: #666;
  border-width: 3px;
  border-style: solid;
  border-radius: 4px;
}

a:hover {
  background-color: #666;
  color: #fff;
}

.nav a {
  list-style-type: none;
  font-family: sans-serif;
  font-style: normal;
}
